# =================================================================
# Arquivo .gitignore para o projeto PIZZARIA-DO-DUDU
# =================================================================

# Ignorar dependências em QUALQUER pasta do projeto
**/node_modules

# Ignorar pastas de build e cache do Next.js em QUALQUER pasta
**/.next
**/out

# Ignorar arquivos de ambiente (NUNCA adicione segredos ao Git)
**/.env
**/.env.local
**/.env.development.local
**/.env.production.local
**/.env.test.local

# Ignorar logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Ignorar arquivos de sistema operacional
.DS_Store
Thumbs.db